.page2{
    position:absolute;
    margin-top: -37.2%;
    margin-left: 30%;
    margin-right: 45%;
    text-align: center;
    padding:10px;
  
  }
  .page3{
    position:absolute;
    margin-top: -37.2%;
    margin-left: 60%;
    margin-right: 15%;
    text-align: center;
    padding:10px;
  }  
.page2 button, .page3 button{
    background-color:#45A29E;
    border-color:#000000;
    outline: none;
    cursor: pointer;
    padding: 9px 16px ;
    transition: 0.3s;
    font-size: 17px;
    opacity: .8;
    border-style: groove;
    border-width: 8px;
    border-color:#FFCB9A;
  }.page2 button:hover {
    background-color: #66FCF1;
  }
  .page3 button:hover {
    background-color: #66FCF1;
  }
  
body{
    background-color:rgb(125, 255, 125);
}
.ptext1{
    padding: 2%;
    font-size:24px;
    font-family:"Playfair Display", serif;
}
.ptext2{
    font-style: italic;
    padding: 2%;
    font-size:24px;
    font-family:"Playfair Display", serif;
}
#cont {
text-align: center;
    width: 1050px;
    border: 10px solid green;
    border-style: groove;
    margin: 0 auto;
    position: relative;
}
.sb1{
    float: left;
    text-align: center;
    height: 750px;
    width: 525px;
    border: 10px solid green;
    border-style: groove;
    position: relative;
}
.sb2{
    float: right;
    text-align: center;
    height: 750px;
    width: 525px;
    border: 10px solid green;
    border-style: groove;
    position: relative;
}
.b_ball{
    margin-top: 15%;
    margin-left: 33.5%;
    border-radius:50% 50%;
    text-align:center;
    width: 40px;
    height: 40px;
    background: black;
    position: relative;
    animation: ease-out bbmove 3s forwards;
}
    @keyframes bbmove {
        0%   {top: 0px; left: 0px;}
        100%  {top: 0px; left:510px;}
      }
.hole{
    position: relative;
    float: right;
    margin-top:-3%;
    margin-left:6%;
    background-color: black;
    border-color: cyan;
    border-style: groove;
    border-width: 9px;
    border-radius: 55%;
    width: 75px;
    height: 75px;
    z-index: -1;
}
.club{
    background: url("/html/img/golf.PNG");
    background-size: 100%;
    position: relative;
    height: 500px;
    width: 200px;
    background-repeat: no-repeat;
    margin-left: 25%;
    margin-top: -16%;
    animation: club 1s linear;
}
@keyframes club {
    0%   {left:0px; top:0px;transform: rotate(0deg);}
    5% {left:100px; top:0px;transform: rotate(-25deg);}
    40%   {left:0px; top:0px;transform: rotate(0deg);}
}
#ic{
    background-color:#45A29E;
    border-color:#000000;
    outline: none;
    cursor: pointer;
    padding: 9px 16px ;
    transition: 0.3s;
    font-size: 17px;
    opacity: .8;
    border-style: groove;
    border-width: 8px;
    border-color:#FFCB9A;
}
#ic:hover{
    background-color: #66FCF1;
}
#oc{
    background-color:#45A29E;
    border-color:#000000;
    outline: none;
    cursor: pointer;
    padding: 9px 16px ;
    transition: 0.3s;
    font-size: 17px;
    opacity: .8;
    border-style: groove;
    border-width: 8px;
    border-color:#FFCB9A;
}
#oc:hover{
    background-color: #66FCF1;
}
#pg{
    background-color:#45A29E;
    border-color:#000000;
    outline: none;
    cursor: pointer;
    padding: 9px 16px ;
    transition: 0.3s;
    font-size: 17px;
    opacity: .8;
    border-style: groove;
    border-width: 8px;
    border-color:#FFCB9A;
}
#pg:hover{
    background-color: #66FCF1;
}